<?xml version="1.0"?>
<robot name="feldschwarm_robot_v2" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--xacro:include filename="$(find test_package)/urdf/body.urdf.xacro" /-->
  <xacro:include filename="$(find master_arbeit_pkg)/test_package/urdf/fs_robot.urdf.xacro" />
  
  <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <alwaysOn>true</alwaysOn>
      <updateRate>20</updateRate>
      <rightFrontJoint>joint_front_right</rightFrontJoint>
      <leftFrontJoint>joint_front_left</leftFrontJoint>
      
      <leftRearJoint>joint_rear_left</leftRearJoint>
      <rightRearJoint>joint_rear_right</rightRearJoint>
      <wheelSeparation>0.4</wheelSeparation>
      <wheelDiameter>0.2</wheelDiameter>
      <torque>0.1</torque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>link_chassis</robotBaseFrame>
    </plugin>
  </gazebo>
  
  <gazebo reference="robot_chasiss">
       <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="lidar_stand">
      <material>Gazebo/Black</material>
  </gazebo>
  






    
       











</robot>