<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="feldschwarm_leg" params="leg_prefix *joint_pose">
       <link name="${leg_prefix}_leg_link">
           <inertial>
               <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
               <mass value="1.0"/>
               <inertia ixx="0.16667" ixy="0.0" ixz="0.0" iyy="0.16667" iyz="0.0" izz="0.1666667"/>
           </inertial>
           <visual name="feldschwarmRobot_leg">
               <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
               <geometry>
                   <box size="0.1 0.1 0.6"/>
               </geometry>
            </visual>
            <collision>
               <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
               <geometry>
                   <box size="0.1 0.1 0.6"/>
               </geometry>
           </collision>
       </link>

       <joint name="${leg_prefix}_leg" type="fixed">
           <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
           <parent link="robot_chasiss"/>
           <child link="${leg_prefix}_leg_link"/>
           <xacro:insert_block name="joint_pose"/>
           <axis xyz="0.0 0.0 1.0"/>
           <limit lower="-${PI}" upper="${PI}" effort="-1.0" velocity="-1.0"/>
       </joint>
        
        <joint name="${wheel_prefix}_wheel" type="continuous">
			  <parent link="${leg_prefix}_leg_link"/>
			  <child link="${wheel_prefix}_wheel_link"/>
			  <xacro:insert_block name="joint_pose"/>
			  <axis xyz="0 0 1" rpy="1.5708 0 0" />
		</joint>









    
    
    
    </xacro:macro>
</robot>
