<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  

  <!--xacro:include filename="$(find velodyne_simulator)/velodyne_description/urdf/VLP-16.urdf.xacro" /-->
  
  

  <xacro:macro name="mount_vlp16">
    <link name="lidar_stand">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1.0"/>
            <inertia ixx="0.145833" ixy="0.0" ixz="0.145833" iyy="0.0" iyz="0.0" izz="0.125"/>
        </inertial>
        <visual name="stand">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.1 0.1 0.20"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.1 0.1 .2"/>
            </geometry>
         </collision>
    </link>
      
    <gazebo reference="lidar_stand">
        <material>Gazebo/Grey</material>
        <mu1 value="0.8"/>
	    <mu2 value="0.8"/>
    </gazebo>
    <joint name="lidar_joint" type="fixed">
        <origin xyz="0.10 0.10 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="robot_chasiss"/>
        <child link="lidar_stand"/>
        <axis xyz="0.0 1.0 0.0"/>
    </joint>
  </xacro:macro>


    


    
</robot>
